
p, h1, h2, h3, h4, h5, h6, a,
td, div, th{
  font-family: Noto Sans;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary::before, .btn-secondary::after,
.btn-secondary:target, .btn-secondary:focus{
  background-color: #6a8e7f;
  border-color: #6a8e7f;
  border-radius: 11px;
}
.btn{
  border-radius: 11px;
}
.card{
  border-radius: 30px;
}
.jopa {
	padding: 0 10px;
	background: rgba(0, 0, 0, 0.8);
}
.logodiv {
  border-radius: 2;
  text-align: center;
}
.sign{
  background-color: aqua;
  color: aqua;
}
.sign:hover {
	background: aqua;
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}
.sign:hover::after{
	background: aqua;
}
.mybutton{
  background-color: #300ec4;
  color: #300ec4;
  border: none;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
}
.mybutton:hover{
  background-color: #2a119b;
}
.mybutton:active{
  background-color: #200985; 
}
.mybutton:focus{
  background-color: #18085f;
}
#success_message{ display: none;}
fieldset{
  width: 400px;
  margin:auto;
}